#schedule {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    #timezone-form {
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.05);
        margin-top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3vh;
        padding: 1vh 0;
        > p {
            width: 100%;
            margin: 1vh;
            text-align: center;
        }
        > button {
            width: 40%;
            color: #ed474c;
            cursor: pointer;
            margin: 1vh;
            border-radius: 0.2rem;
            padding: 1vh;
            border: 1px solid #e8e8e8;
        }
    } 

    .flex-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    .flex-row {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .hidden {
        display: none !important;
    }

    .shown {
        display: block !important;
    }

    .change-button {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }

    .schedule-calendar {
        margin-top: 1vh;
        width: 70%;
        border-radius: 0.5rem;
        box-shadow: 0 0 4px rgba(0,0,0,0.1), 0 5px 20px rgba(0,0,0,0.05);
        border: none;
    }

    .available-times-tables {
        width: 70%;
        border-radius: 0.5rem;
        box-shadow: 0 0 4px rgba(0,0,0,0.1), 0 5px 20px rgba(0,0,0,0.05);
        margin-top: 2vh;
        > .slots-ul {
            display: flex;
            margin: 0;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .slot-selected, .slot-unselected {
            cursor: pointer;
            margin: 1vh;
            border-radius: 0.2rem;
            padding: 1vh;
            border: 1px solid #e8e8e8;
        }

        .slot-unselected {
            color: #ed474c;
        }
        .slot-selected {
            color: grey;
        }
        > .today-date {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;        
        }
    }
}